<div >
  <img  src="/girlchildsave.jpeg" alt="broken image">
</div>
<h1>Edit yours profile</h1>

<form method ="POST">
  First name:<br>
  <input  type="text" name="first"><br>
  Last name:<br>
  <input type="text" name="last"><br>
  <input name="_csrf" value="{{csrfToken}}" type="hidden">
  Email Address:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="text" name="password"><br>
  Age:<br>
  <input type="INT" name="age"><br>
  city:<br>
  <input type="text" name="city"><br>
  Homepage:<br>
  <input type="text" name="homepage"><br>
  <button type="submit">UPDATE</button>
</form>
