
      <div class= "main">
        <div>
          <header>Please sign petition to make world a better place.Let's join hands to save "GIRL CHILD" in INDIA.Every voice counts!!</header>
        </div>
        <div >
          <img src="/kids-2.jpg" height="300"width="500"alt="broken image">
        </div>

        <a href="/logout"class="logout">Log Out</a>
        <div class= "petition">
          <form class=""method ="POST" action="/petition">
            <input  name ="sig" type="hidden"><br>
            Please sign here:<br>
            <input type="hidden" name="signatures" id="signatures">
            <canvas id="signedCanvas" width='500' height='250'></canvas><br>
            <input name="_csrf" value="{{csrfToken}}" type="hidden">
            <button  id="submit" type="submit">Submit</button>
          </form>
      </div>

      {{>footer}}
          {{#if error }}
          <div class="err">Oops!something went wrong.Please dont forget to sign."</div>
          {{/if}}



      </div>
       <script src="script.js"></script>
