<div >
  <img  src="/girlchildsave.jpeg" alt="broken image">
</div>
<h1>Help us to know you better.</h1>

<form method ="POST">
  Age:<br>
  <input type="INT" name="age"><br>
  City<br>
  <input type="text" name="city"><br>
  Homepage<br>
  <input type="text" name="url"><br>
  <input name="_csrf" value="{{csrfToken}}" type="hidden">
  <button id="continue" type="submit">CONTINUE</button>
</form>
{{>footer}}
