
<div class="thanks">
    <h1>Thank you!for supporting the cause and believing in us!! </h1>

    <h2> {{first}}</h2>
    <img src="{{signature}}" alt="signature"/>
    <a href ="/signers">List of our signers{{count}}<a>
    <a href="/logout">LOG OUT</a>

    <!-- <form action="/signature/delete" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Delete Signature</button>
    </form> -->

</div>

<a href='/profile/editprofile'>Edit Profile</a>
<a href='/signature/delete'>Delete Signature</a>
