
<div class="thanks">
    <h1>Thank you!for supporting the cause and believing in us!! </h1>

    <h2> {{first}}</h2>
    <img src="{{signature}}" alt="signature"/>
    <a href ="/signers">List of our signers{{count}}<a>
    <a href="/logout">LOG OUT</a>

</div>

<a href='profile/editprofile'>Edit Profile</a>
