<div >
  <img  src="/girlchildsave.jpeg" alt="broken image">
</div>
<h1>Please Log in.</h1>
<form method ="POST">
  Email Address:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="text" name="password"><br>
  <input name="_csrf" value="{{csrfToken}}" type="hidden">
  <button type="submit">SIGN UP</button>
</form>

{{#if error }}
<div class="err">Oops!something went wrong.Please dont forget to fill the form and sign it."</div>
{{/if}}
